@import './reset.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.app {
  display: flex;
  flex-direction: column;
  // align-items: stretch;
  width: 100%;
  min-height: 100vh;
  background-color: #F9F9F9;
}