.select {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
  // height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 38px;

  &__list {
    position: absolute;

    top: calc(100% + 2px);
    left: 0;
    right: 0;
    // width: max-content;
    max-height: 320px;
    overflow: auto;

    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.1);
  }
  &__option {
    padding: 10px 15px;
    transition: background-color .3s;
    &:hover {
      background-color: #f2f2f2;
    }
  }
}