.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 10px;
  height: 38px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  min-width: 100px;
  font-size: 16px;

  &_blue {
    background-color: #33ccff;
    color: #fff;
  }
}