.search-bar {
  flex-grow: 1;
  
  display: flex;
  align-items: center;

  padding-left: 20px;
  padding-right: 290px;

  &__item {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }
  &__category,
  &__location {
    width: 270px;
  }
  &__search {
    flex-grow: 1;
  }
}